/* line 1, /Users/shivanandkumbhar/fundamentals/wdi-16/week-06/recipebook/app/assets/stylesheets/global.scss */
body {
  background-color: #5a2d00;
}

/* line 5, /Users/shivanandkumbhar/fundamentals/wdi-16/week-06/recipebook/app/assets/stylesheets/global.scss */
nav {
  font-size: 25px;
  color: #ff9933;
  float: right;
}
/* line 4, /Users/shivanandkumbhar/fundamentals/wdi-16/week-06/recipebook/app/assets/stylesheets/recipe.scss */
.field {
  margin-bottom: 20px;
  margin-left: 25px;
}
/* line 4, /Users/shivanandkumbhar/fundamentals/wdi-16/week-06/recipebook/app/assets/stylesheets/sessions.scss */
body {
  background-color: #ffaa33;
}

/* line 9, /Users/shivanandkumbhar/fundamentals/wdi-16/week-06/recipebook/app/assets/stylesheets/sessions.scss */
nav {
  font-size: 25px;
  color: #ff9933;
  float: right;
  margin-bottom: 20px;
}

/* line 15, /Users/shivanandkumbhar/fundamentals/wdi-16/week-06/recipebook/app/assets/stylesheets/sessions.scss */
img {
  margin-left: 30px;
}

/* line 25, /Users/shivanandkumbhar/fundamentals/wdi-16/week-06/recipebook/app/assets/stylesheets/sessions.scss */
p {
  margin: 20px 70px;
}
/* line 4, /Users/shivanandkumbhar/fundamentals/wdi-16/week-06/recipebook/app/assets/stylesheets/users.scss */
.field_with_email {
  margin-left: 50px;
}

/* line 7, /Users/shivanandkumbhar/fundamentals/wdi-16/week-06/recipebook/app/assets/stylesheets/users.scss */
.button {
  margin-left: 100px;
}

/* line 10, /Users/shivanandkumbhar/fundamentals/wdi-16/week-06/recipebook/app/assets/stylesheets/users.scss */
.recipe-details {
  height: 200px;
  width: 500px;
  border: 2px solid red;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


@import "*";
