<!-- <h1>Editing recipe</h1> -->
<%= render 'form', recipe: @recipe %>
<td><%= link_to 'Show', @recipe, :class => "waves-effect waves-light btn" %></td>
<!-- <td><%#= link_to 'Back', user_path(@recipe.user),:class => "waves-effect waves-light btn" %></td> -->
