<h1>New Recipe</h1>
<%= render 'form', recipe: @recipe %>
<!-- @current_user = User.find_by_id(session[:user_id]) -->
<!-- <%#= link_to 'Back',user_path(@current_user),:class => "waves-effect waves-light btn" %> -->
