// Place all the styles related to the Recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field{
  margin-bottom: 20px;
  margin-left: 25px;
}


.main_form{
  width:80%;
  height:60%;
  margin:auto auto;
  border: 2px solid black;
  // background-color: white
}
// .recipes-show {
//
// background-image: image-url("background6.jpg");
// }
// .recipes-new {
//
// background-image: image-url("background7.jpg");
// }
