// Place all the styles related to the Recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field{
  margin-bottom: 20px;
  margin-left: 25px;
}

h1{
  font-size: 15px;
}
.main_form{
  width:1000px;
  height:600px;
  margin-left: 130px;
  border: 2px solid blue;
  background-color: white
}

body {
  background: black !important;
}
