// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  // text-align: center;
  background-color: #ffaa33;
}


img{
margin-left: 30px;

}
form{
  // border: 3px solid red;
  // margin: 130px 500px;


}
// p{
//   margin:20px 70px ;
// }
.initial_page{
  text-align: center;
  margin-top: 150px;
  margin-left: 500px;
  height: 250px;
  width:300px;
  border: 3px solid red;
}
